
# Configuration de la base de données PostgreSQL

DB_USER=nom d'utilisateur pour la base de données
DB_PASSWORD= mot de passe pour la base de données
DB_HOST=localhost
DB_NAME=nom de la base de donnees 
DB_PASSWORD= mot de passe
DB_PORT=5432
JWT_SECRET=your_super_secret_jwt_key_minimum_32_characters_long
PORT=4000
NODE_ENV=development
LOG_LEVEL=info
RATE_LIMIT_REQUESTS= ex : 100
RATE_LIMIT_WINDOW_MS= ex : 900000